node_modules
.next
out
dist
coverage
.env
.env*.local
*.tsbuildinfo
.vercel
.railway
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next-dev.log
.next-dev.err.log
supabase/.temp

.vercel

# Design source files
*.psd
*.ai
*.sketch
